{% extends 'base.html'%}

{% block content%}
{{block.super}}
  <div class="container-fluid">
    <div class="row kids-gallery">
      <div class="col-md-2"></div>
      <div class="col-md-8">
       <h2 class="text-center">GALLERY</h2>
        <div class="row">
          <div class="col-md-4">
            {%for photo in gallery%}
            <a data-fancybox="gallery" href="{{photo.photo.url}}" class="kids-collection"  data-caption="{{photo.caption}}"><img src="{{photo.photo.url}}" alt="Zoomed-image" class="img-fluid">
            </a>    
            {% endfor %}  
          </div>
        </div>      
      </div>
      <div class="col-md-2"></div>
    </div>
  </div>

{% endblock %}