{% extends 'base.html'%}

{% block content%}
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-2"></div>
      <div class="col-md-8">
        <h2 class="text-center">GALLERY</h2>      
  
      <div id="mdb-lightbox-ui"></div>
  
      <div class="mdb-lightbox no-margin">
  
        <figure class="col-md-4">
          <a href="https://mdbootstrap.com/img/Photos/Lightbox/Original/img%20(94).jpg" data-size="1600x1067">
            <img src="https://mdbootstrap.com/img/Photos/Lightbox/Thumbnail/img%20(94).jpg" class="img-fluid">
          </a>
          <figcaption>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Possimus nobis sit veritatis
            cumque! Placeat voluptate aut pariatur! Nihil molestiae quos explicabo dignissimos quam cupiditate
            sequi corporis eaque corrupti. Vel, est.</figcaption>
        </figure>
        
      </div>

      </div>
      <div class="col-md-2"></div>
    </div>
  </div>
{% endblock %}