{% extends 'base.html'%}

{% block content %}
  <div class="container-fluid">
    <div class="row">
      <!-- <div class="header text-center">
        <h2 id="header-text">Finding Nemo's playground<img src="../static/images/smiley.png" class="img-fluid" width="50">...<img src="/static/images/dora.png" class="img-fluid" width="150"></h2>
      </div> -->
      <div class="overlay-image"><a href="">
          <img class="image" src="/static/images/magical-paths.jpg" alt="Alt text" height="600"/>
          <div class="normal">
           <div class="text"><img src="/static/images/dora-back.png" class="img-fluid" width="150">Let's explore...</div>
          </div>
          <div class="hover">
           <img class="image" src="static/images/playground.jpg" alt="Alt text hover" height="600"/>
           <div class="text">...First stop<img src="../static/images/smiley.png" class="img-fluid" width="50"></div>
          </div>
         </a></div>
    </div>
  </div>
{% endblock %}