
<nav class="navbar sticky-top navbar-expand-lg">
    <div class=" navbar-collapse w-100 order-1 order-md-0 dual-collapse2">
        <a class="navbar-brand mr-auto dropdown-toggle" href="" id="hoods-link" data-toggle="dropdown"  aria-haspopup="true" aria-expanded="false">Kids-Vibe</a>
        <div class="dropdown-menu">
            <a class="dropdown-item" href="#clubs">Clubs</a>
            <a class="dropdown-item" href="#venues">Play-grounds</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Get Playmate</a>
          </div>
        <form class="form-inline" role="search" action="" id="f-search">
            <div class="md-form my-0">
                <input class="form-control mr-sm-2" type="text" id="search-place" placeholder="Search Venue" aria-label="Search" name="name">            
            </div>
        </form>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"><img src="https://img.icons8.com/material/24/000000/circled-menu.png"></span>
        </button>
    </div> 
    
    <div class="mx-auto order-0">
      <ul class="navbar-nav mx-auto" id="hood-icon">
        <a href="/"><img src="https://dumielauxepices.net/sites/default/files/hello-clipart-dora-637662-3634878.png" alt="icon" width="80" ></a>
        <a href="/" id="home"><strong></strong></a>
      </ul>
    </div>        
    <div class="collapse navbar-collapse w-100 order-3 dual-collapse2" id="navbarSupportedContent">
        
        <ul class="navbar-nav ml-auto">
            
            <li class="nav-item">
                <a class="nav-link waves-effect waves-light" href="/gallery/" id="gallery">Gallery</a>
            </li>
          {% if user.is_authenticated%}
          
            <li class="nav-item">
                <a class="nav-link waves-effect waves-light" href="/logout" id="out">Logout</a>
            </li>
            <li class="nav-item" id="p-icon">
                <a class="nav-link waves-effect waves-light" href="{%url 'userProfile'%}" ><img src="https://img.icons8.com/material-rounded/24/000000/user.png" width="30"></a>
            </li>
            {% else %}
            <li class="nav-item">
                <a class='btn btn-login' href="/accounts/login" id="in">Login</a>
            </li>
            
            <li class="nav-item">
                <a class="nav-link waves-effect waves-light" href="/accounts/register/" id="signup">Register</a>
            </li>
            {% endif %}         
            
        </ul>
      </div>
         
  </nav>
  
  